<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>计划-种类</title>
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
  <script src="js/jquery-1.11.3.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/index.js"></script>
    <script src="js/shangchuantouxiang.js"></script>
  <!--[if lt IE 9]>
  <script src="js/html5shiv.min.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<!--导航start-->
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-2 nav-logo">
                <a href="首页.html"><img src="images/logo.png" /></a>
            </div>
            <div class="col-md-10 navbar1">
                <p class="navbar-text">信息沟通世界&nbsp;&nbsp;科技服务三农</p>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="销售-订单管理.html"><span class="glyphicon glyphicon-volume-up"></span>&nbsp;<span>订单<span class="badge">1</span></span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="glyphicon glyphicon-info-sign"></span>&nbsp;
                            <span>帮助</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="text-center"><a href="#"><span class="text-primary"><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp;0451-87963519-815</span></a></li>
                            <li class="text-center"><a href="#"><span class="text-primary"><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;互助问答</span></a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span>&nbsp;
                            <span>农业集团科技有限公司</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="text-center"><a href="资源-公司信息.html"><span class="text-primary"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;企业设置</span></a></li>
                            <li class="text-center"><a href="首页.html"><span class="text-primary"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;个人首页</span></a></li>
                            <li class="text-center"><a href="资源-站内信息.html"><span class="text-primary"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;系统消息</span></a></li>
                            <li class="text-center"><a href="修改密码.html"><span class="text-primary"><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;修改密码</span></a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="登录.html">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>退出</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!--导航end-->
<!--主体开始-->
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2 navbar2 sidebar">
                <h3>翔 农 云 农 场</h3>
                <h4>www.nongchang.com</h4>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <a class="nav-panel nav-left1" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                           aria-controls="collapseOne">
                            <i class="ziyuan"></i>
                            <i class="panel-left1">资&nbsp;源</i>
                        </a>
                        <div id="collapseOne" class="panel-collapse collapse" >
                            <ul class="nav  nav-list">
                                <li><a href="资源-公司信息.html">公司信息</a></li>
                                <li><a href="资源-认证信息.html">认证信息</a></li>
                                <li><a href="资源-员工管理-基地负责人.html">员工信息</a></li>
                                <li><a href="资源-园区管理.html">园区管理</a></li>
                                <li><a href="资源-农机管理.html">农机管理</a></li>
                                <li><a href="资源-设备管理.html">设备管理</a></li>
                                <li><a href="资源-站内信息.html">站内信息</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <a class="nav-panel nav-left1" data-toggle="collapse" data-parent="#accordion" href="#collapseOne1" aria-expanded="true"
                           aria-controls="collapseOne1">
                            <i class="jihua"></i>
                            <i class="panel-left1">计&nbsp;划</i>
                        </a>
                        <div id="collapseOne1" class="panel-collapse collapse" >
                            <ul class="nav  nav-list">
                                <li><a href="计划-种类.html">种 类</a></li>
                                <li><a href="计划-排产.html">排 产</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <a class="nav-panel nav-left1" data-toggle="collapse" data-parent="#accordion" href="#collapseOne2" aria-expanded="true"
                           aria-controls="collapseOne2">
                            <i class="shengchan"></i>
                            <i class="panel-left1">生&nbsp;产</i>
                        </a>
                        <div id="collapseOne2" class="panel-collapse collapse" >
                            <ul class="nav  nav-list">
                                <li><a href="生产-农事.html">农事管理</a></li>
                                <li><a href="生产-预警管理.html">预警管理</a></li>
                                <li><a href="生产-监测.html">监 测</a></li>
                                <li><a href="生产-控制.html">控 制</a></li>
                                <li><a href="生产-气象.html">气 象</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <a class="nav-panel nav-left1" data-toggle="collapse" data-parent="#accordion" href="#collapseOne4" aria-expanded="true"
                           aria-controls="collapseOne4">
                            <i class="xiaoshou"></i>
                            <i class="panel-left1">销&nbsp;售</i>
                        </a>
                        <div id="collapseOne4" class="panel-collapse collapse" >
                            <ul class="nav  nav-list">
                                <li><a href="销售-订单管理.html">订单管理</a></li>
                                <li><a href="销售-价格.html">价格管理</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <a class="nav-panel nav-left1" data-toggle="collapse" data-parent="#accordion" href="#collapseOne5" aria-expanded="true"
                           aria-controls="collapseOne5">
                            <i class="lvli"></i>
                            <i class="panel-left1">商&nbsp;品</i>
                        </a>
                        <div id="collapseOne5" class="panel-collapse collapse" >
                            <ul class="nav  nav-list">
                                <li><a href="商品-加工.html">加 工</a></li>
                                <li><a href="商品-损耗.html">损 耗</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <a class="nav-panel nav-left1" data-toggle="collapse" data-parent="#accordion" href="#collapseOne6" aria-expanded="true"
                           aria-controls="collapseOne6">
                            <i class="jiagong"></i>
                            <i class="panel-left1">配&nbsp;送</i>
                        </a>
                        <div id="collapseOne6" class="panel-collapse collapse" >
                            <ul class="nav  nav-list">
                                <li><a href="配送-物流管理.html">物流管理</a></li>
                                <li><a href="履历-履历管理.html">履历管理</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <a class="nav-panel nav-left1" data-toggle="collapse" data-parent="#accordion" href="#collapseOne7" aria-expanded="true"
                           aria-controls="collapseOne7">
                            <i class="fenxi"></i>
                            <i class="panel-left1">统&nbsp;计</i>
                        </a>
                        <div id="collapseOne7" class="panel-collapse collapse" >
                            <ul class="nav nav-list">
                                <li><a href="汇总-历年产量对比-投产量.html">汇 总</a></li>
                                <li><a href="分析-农事管理分析-环境监控历史纪录.html">分 析</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--左侧nav end-->
    <!--右侧内容开始-->
<div class="col-xs-10 center_box">
    <div class="row nongji-btn">
        <div class="col-xs-12">
            <span>计划&nbsp;&gt;&nbsp;&nbsp;种类</span>
        </div>
    </div>
    <div class="nongji-btn">
        <form class="bs-example bs-example-form" role="form">
            <div class="row">
                <div class="col-xs-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入搜索条件"/>
                         <span class="input-group-btn">
                           <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-search"></i></button>
                         </span>
                    </div>
                </div>
                <div class="col-xs-2 col-xs-offset-6">
                    <a href="#"  aria-hidden="true" data-toggle="modal" data-target="#tianjiazhonglei" type="button" class="btn btn-success">添加种类</a>
                </div>
            </div>
        </form>
    </div>
        <div class="panel">
           <div class="panel-body">
               <div class="has-feedback row">
                    <div class="col-xs-2">
                        <a href="#"  role="button" type="button" data-toggle="collapse" data-target="#zhanglei-menu1" onclick="changezhonglei('zhonglei-menu-a')">
                            <span id="zhonglei-menu-a" class="glyphicon glyphicon-chevron-down"></span></a>
                        <img src="images/zhonglei_03.png" alt="大豆" style="margin-left:10px;"/>
                    </div>
                    <div class="col-xs-4">
                        <h3>大豆类</h3>
                        <p class="intro">月产：800公斤&nbsp;&nbsp;季产：2000公斤&nbsp;&nbsp; 年产：6000公斤</p>
                    </div>
                    <div class="col-xs-1 col-xs-offset-4 delete-list">
                        <a href="#" data-toggle="modal" data-target=".zhonglei2"  aria-hidden="true" type="button" ><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        <a href="#"><span class="delete-zhonglei glyphicon glyphicon-remove-sign"></span></a>
                    </div>
              </div>
               <div id="zhanglei-menu1" class="collapse">
                   <div class="has-feedback row">
                           <div class="col-xs-5 nongjiguanli_box">
                               <a href="#"><span class="delete-nj glyphicon glyphicon-remove-sign"></span></a>
                               <a href="#" data-toggle="modal" data-target=".zhonglei22"  aria-hidden="true" type="button" ><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                               <img src="images/zhonglei_2_10.png">
                               <div class="mingcheng">
                                   <h4>黄豆</h4>
                                   <p class="intro">月产：300公斤&nbsp;&nbsp;季产：400公斤&nbsp;&nbsp; 年产：3000公斤</p>
                               </div>
                           </div>
                           <div class="col-xs-5 nongjiguanli_box">
                               <a href="#"><span class="delete-nj glyphicon glyphicon-remove-sign"></span></a>
                               <a href="#" data-toggle="modal" data-target=".zhonglei22"  aria-hidden="true" type="button" ><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                               <img src="images/zhonglei_2_05.png">
                               <div class="mingcheng">
                                   <h4>芸豆</h4>
                                   <p class="intro">月产：200公斤&nbsp;&nbsp;季产：500公斤&nbsp;&nbsp; 年产：2100公斤</p>
                               </div>
                           </div>
                       <div class="col-xs-5 nongjiguanli_box">
                           <a href="#"><span class="delete-nj glyphicon glyphicon-remove-sign"></span></a>
                           <a href="#" data-toggle="modal" data-target=".zhonglei22"  aria-hidden="true" type="button" ><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                           <img src="images/zhonglei_2_01.png">
                           <div class="mingcheng">
                               <h4>绿豆</h4>
                               <p class="intro">月产：150公斤&nbsp;&nbsp;季产：400公斤&nbsp;&nbsp; 年产：1800公斤</p>
                           </div>
                       </div>
                       <div class="col-xs-5 nongjiguanli_emptybox">
                           <div class="row">
                               <div class="col-xs-1 col-xs-offset-4">
                                   <a href="#"  aria-hidden="true" data-toggle="modal" data-target="#tianjiazhonglei" type="button" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                               </div>
                               <div class="col-xs-6">
                                   <h4>添加品种</h4>
                               </div>
                           </div>
                       </div>
                   </div>
            </div>
         </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="has-feedback row">
                        <div class="col-xs-2">
                            <a href="#"  role="button" type="button" data-toggle="collapse" data-target="#zhanglei-menu2" onclick="changezhonglei('zhonglei-menu-b')">
                                <span id="zhonglei-menu-b" class="glyphicon glyphicon-chevron-down"></span></a>
                            <img src="images/zhonglei_06.png" alt="薯类" style="margin-left:10px;"/>
                        </div>
                        <div class="col-xs-4">
                            <h3>薯 类</h3>
                            <p class="intro">月产：900公斤&nbsp;&nbsp;季产：2300公斤&nbsp;&nbsp; 年产：7000公斤</p>
                        </div>
                        <div class="col-xs-1 col-xs-offset-4 delete-list">
                            <a href="#" data-toggle="modal" data-target=".zhonglei1"  aria-hidden="true" type="button" ><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                            <a href="#"><span class="delete-zhonglei glyphicon glyphicon-remove-sign"></span></a>
                        </div>
                    </div>
                    <div id="zhanglei-menu2" class="collapse">
                        <div class="has-feedback row">
                            <div class="col-xs-5 nongjiguanli_box">
                                <a href="#"><span class="delete-nj glyphicon glyphicon-remove-sign"></span></a>
                                <a href="#" data-toggle="modal" data-target=".zhonglei11"  aria-hidden="true" type="button" ><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                <img src="images/zhonglei_2_08.png">
                                <div class="mingcheng">
                                    <h4>地瓜</h4>
                                    <p class="intro">月产：340公斤&nbsp;&nbsp;季产：540公斤&nbsp;&nbsp; 年产：1890公斤</p>
                                </div>
                            </div>
                            <div class="col-xs-5 nongjiguanli_box">
                                <a href="#"><span class="delete-nj glyphicon glyphicon-remove-sign"></span></a>
                                <a href="#" data-toggle="modal" data-target=".zhonglei11"  aria-hidden="true" type="button" ><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                <img src="images/zhonglei_2_10.png">
                                <div class="mingcheng">
                                    <h4>土豆</h4>
                                    <p class="intro">月产：320公斤&nbsp;&nbsp;季产：780公斤&nbsp;&nbsp; 年产：2400公斤</p>
                                </div>
                            </div>
                            <div class="col-xs-5 nongjiguanli_box">
                                <a href="#"><span class="delete-nj glyphicon glyphicon-remove-sign"></span></a>
                                <a href="#" data-toggle="modal" data-target=".zhonglei11"  aria-hidden="true" type="button" ><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                <img src="images/zhonglei_2_06.png">
                                <div class="mingcheng">
                                    <h4>龙薯</h4>
                                    <p class="intro">月产：300公斤&nbsp;&nbsp;季产：880公斤&nbsp;&nbsp; 年产：2700公斤</p>
                                </div>
                            </div>
                            <div class="col-xs-5 nongjiguanli_emptybox">
                                <div class="row">
                                    <div class="col-xs-1 col-xs-offset-4">
                                        <a href="#"  aria-hidden="true" data-toggle="modal" data-target="#tianjiazhonglei" type="button" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                                    </div>
                                    <div class="col-xs-6">
                                        <h4>添加品种</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
       </div>
    <!--添加种类弹出框-->
    <div class="modal fade" id="tianjiazhonglei" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加种类</h4>
                </div>
                <div class="modal-body">
					<form class="form-horizontal" role="form" style="margin-top:-10px;">
                                          <div class="form-group">
                                                <div class="col-xs-1 col-xs-offset-1 control-label">
                                                    <div id="add_zhonglei">
                                                        <img id="img_zhonglei" class="img-detail"  src=""/>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 col-xs-offset-1" style=" margin:20px 0 0 60px;">
                                                    <input type="file" onchange="previewImage(this,'img_zhonglei','add_zhonglei')" class="shangchuan"/>
                                                    <!--<input type="reset" class="btn reset" value="清&nbsp;除" id="sale-reset"/>-->
                                                </div>
                                            </div>
                                       </form>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label for="mingcheng" class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名称</label>
                            <input type="text" class="form-control" id="mingcheng" placeholder="">
                        </div>
                        <div class="form-group" style=" margin-left:10px;">
                            <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;亩产</label>
                            <input type="text" class="form-control" id="muchan" placeholder="">
                        </div>

                        <div class="form-group" style="margin-top:5px;;">
                            <label class="control-label">所属地块</label>
                            <input type="text" class="form-control" id="所属地块" placeholder="">
                        </div>
                        <div class="form-group" style="margin-top:5px; margin-left:10px">
                            <label class="control-label">生长周期</label>
                            <input type="text" class="form-control" id="shengzhangzhouqi" placeholder="">
                        </div>

                        <div class="form-group" style="margin-top:5px;">
                            <label class="control-label">种植月份</label>
                            <input type="date" class="form-control" id="zhongzhiyuefen" placeholder="">
                        </div>
                        <div class="form-group" style="margin-top:5px; margin-left:10px;">
                            <label class="control-label">&nbsp;成熟月份</label>
                            <input type="date" class="form-control" id="chengshuyuefen" placeholder="">
                        </div>
                        <div class="form-group" style="margin-top:5px;">
                            <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;描述</label>
                            <textarea  class="form-control" ></textarea>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                        <button class="btn btn-success" type="submit" data-dismiss="modal">提 交</button>
                        <button class="btn btn-default" data-dismiss="modal" type="button">返 回</button>
                    </div>
            </div>
        </div>
    </div>
            <!--修改种类1-->
            <div class="modal fade  zhonglei1" id="xiugailei1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel1">修 改 种 类</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-inline " role="form">
                                <div class="form-group">
                                    <div class="col-xs-3 col-xs-offset-2 control-label">
                                        <div id="change_zhonglei1">
                                            <img id="img_zhonglei1" class="img-detail img-detail2"  src="images/zhonglei_06.png"  />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top:10px;margin-left:35px;">
                                    <input type="file" onchange="previewImage(this,'img_zhonglei1','change_zhonglei1')"  class="shangchuan"/>
                                    </div>
                                <div class="form-group">
                                    <label for="leibie" class="control-label">类 别</label>
                                    <input type="text" class="form-control"  id="leibie" value="薯类"/>
                                </div>
                                <div class="form-group" style="margin-top:5px;">
                                    <label for="yuechan" class="control-label">月 产</label>
                                    <input type="text" class="form-control" id="yuechan" placeholder="" value="123公斤"/>
                                </div>
                                <div class="form-group" style="margin-top:5px;">
                                    <label for="jichan" class="control-label">季 产</label>
                                    <input type="text" class="form-control" id="jichan" placeholder="" value="123公斤"/>
                                </div>
                                <div class="form-group" style="margin-top:5px;">
                                    <label for="nianchan" class="control-label">年 产</label>
                                    <input type="text" class="form-control" id="nianchan" placeholder="" value="123公斤"/>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" type="submit" data-dismiss="modal">保 存</button>
                            <button class="btn btn-default" data-dismiss="modal" type="button">取 消</button>
                        </div>
                    </div>
                </div>
            </div>
                <!--修改种类2-->
                <div class="modal fade  zhonglei2" id="xiugailei2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabe22">修 改 种 类</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-inline " role="form">
                                    <div class="form-group">
                                        <div class="col-xs-3 col-xs-offset-2 control-label">
                                            <div id="change_zhonglei2">
                                                <img id="img_zhonglei2" class="img-detail img-detail2"  src="images/zhonglei_03.png"  />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-top:10px;margin-left:35px;">
                                        <input type="file" onchange="previewImage(this,'img_zhonglei2','change_zhonglei2')" class="shangchuan"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="leibie1" class="control-label">类 别</label>
                                        <input type="text" class="form-control"  id="leibie1" value="大豆类"/>
                                    </div>
                                    <div class="form-group" style="margin-top:5px;">
                                        <label for="yuechan1" class="control-label">月 产</label>
                                        <input type="text" class="form-control" id="yuechan1" placeholder="" value="123公斤"/>
                                    </div>
                                    <div class="form-group" style="margin-top:5px;">
                                        <label for="jichan1" class="control-label">季 产</label>
                                        <input type="text" class="form-control" id="jichan1" placeholder="" value="123公斤"/>
                                    </div>
                                    <div class="form-group" style="margin-top:5px;">
                                        <label for="nianchan1" class="control-label">年 产</label>
                                        <input type="text" class="form-control" id="nianchan1" placeholder="" value="123公斤"/>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" type="submit" data-dismiss="modal">保 存</button>
                                <button class="btn btn-default" data-dismiss="modal" type="button">取 消</button>
                            </div>
                        </div>
                    </div>
              </div>

            <!--修改大豆种类二级-->
            <div class="modal fade  zhonglei22" id="xiugailei22" tabindex="-1" role="dialog" aria-labelledby="myModalLabel22" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel22">修 改 种 类</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-inline " role="form">
                                <div class="form-group">
                                    <div class="col-xs-3 col-xs-offset-2 control-label">
                                        <div id="change_zhonglei22">
                                            <img id="img_zhonglei22" class="img-detail img-detail2"  src="images/zhonglei_03.png"  />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top:10px;margin-left:35px;">
                                    <input type="file" onchange="previewImage(this,'img_zhonglei22','change_zhonglei22')" class="shangchuan"/>
                                </div>
                                <div class="form-group">
                                    <label for="leibie22" class="control-label">类 别</label>
                                    <input type="text" class="form-control"  id="leibie22" value="黄豆"/>
                                </div>
                                <div class="form-group" style="margin-top:5px;">
                                    <label for="yuechan22" class="control-label">月 产</label>
                                    <input type="text" class="form-control" id="yuechan22" placeholder="" value="123公斤"/>
                                </div>
                                <div class="form-group" style="margin-top:5px;">
                                    <label for="jichan22" class="control-label">季 产</label>
                                    <input type="text" class="form-control" id="jichan22" placeholder="" value="123公斤"/>
                                </div>
                                <div class="form-group" style="margin-top:5px;">
                                    <label for="nianchan22" class="control-label">年 产</label>
                                    <input type="text" class="form-control" id="nianchan22" placeholder="" value="123公斤"/>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" type="submit" data-dismiss="modal">保 存</button>
                            <button class="btn btn-default" data-dismiss="modal" type="button">取 消</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--修改薯类种类二级-->
            <div class="modal fade  zhonglei11" id="xiugailei11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel111" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel11">修 改 种 类</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-inline " role="form">
                                <div class="form-group">
                                    <div class="col-xs-3 col-xs-offset-2 control-label">
                                        <div id="change_zhonglei11">
                                            <img id="img_zhonglei11" class="img-detail img-detail2"  src="images/zhonglei_06.png"  />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top:10px;margin-left:35px;">
                                    <input type="file" onchange="previewImage(this,'img_zhonglei11','change_zhonglei11')" class="shangchuan"/>
                                </div>
                                <div class="form-group">
                                    <label for="leibie11" class="control-label">类 别</label>
                                    <input type="text" class="form-control"  id="leibie11" value="龙薯"/>
                                </div>
                                <div class="form-group" style="margin-top:5px;">
                                    <label for="yuechan11" class="control-label">月 产</label>
                                    <input type="text" class="form-control" id="yuechan11" placeholder="" value="123公斤"/>
                                </div>
                                <div class="form-group" style="margin-top:5px;">
                                    <label for="jichan11" class="control-label">季 产</label>
                                    <input type="text" class="form-control" id="jichan11" placeholder="" value="123公斤"/>
                                </div>
                                <div class="form-group" style="margin-top:5px;">
                                    <label for="nianchan11" class="control-label">年 产</label>
                                    <input type="text" class="form-control" id="nianchan11" placeholder="" value="123公斤"/>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" type="submit" data-dismiss="modal">保 存</button>
                            <button class="btn btn-default" data-dismiss="modal" type="button">取 消</button>
                        </div>
                    </div>
                </div>
            </div>
    <!--右侧内容end-->
     </div>
    </div>
   </div>
    </div>
  </main>
<!--主体end-->
<!--<script>-->
    <!--var s = document.createElement('script');-->
    <!--s.onload = function () {-->
        <!--bootlint.showLintReportForCurrentDocument([]);-->
    <!--}-->
    <!--s.src = 'js/bootlint.js';-->
    <!--document.body.appendChild(s);-->
<!--</script>-->
</body>
</html>