<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>test</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div>
    <input type="file" name="file" id="saveImage">
    <button onclick="upload()">提交</button>
    <img id="image" src="">
</div>
<script>
    function upload() {
        let file = document.getElementById('saveImage').files[0];
        var formData = new FormData;
        console.log(typeof file);
        console.log(file);
        formData.append("file", file);
        axios.post('/api/scheduling/image',formData,{
            headers: {"Content-Type": "multipart/form-data"}
        })
            .then(respond => {
                if (respond.status === 200) {
                    console.log(respond.data)
                    var src = "http://127.0.0.1:8888/static/" + respond.data;
                    $("#image").attr("src",src);
                }
            });
    }
</script>
</body>
</html>
